body {
    background: rgb(112, 112, 112);
    font-family: "Georgia", serif;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    box-shadow: 0 0 5px black;
}

#naslov {
    text-align: center;
    font-size: 1.8rem;
}

.opis{font-size: 1.5rem;margin-bottom: 30px;}

.opis,
.centar {
    text-align: center;
    font-size: 20px;
}


/* The Close Button */

.grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr);
    text-align: center;
    font-size: 20px;
}

.ikone {
    max-width: 100%;
    height: auto;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    border-radius: 5px;
}

.ikone2 {
    max-width: 100%;
    height: auto;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    border-radius: 5px;
}


.ikone:hover {
    opacity: 0.5;
    cursor: pointer
}

.centar {
    text-align: center
}

.fas {
    color: #A39D82;
    text-shadow: 0 0 1.5px black;
}

#broj-puzzla {
    color: #A39D82;
    text-shadow: 0 0 1px black;
}
.kom_izbornik{text-align: left; padding-left: 4%;}

@media only screen and (max-width: 1780px) {
    
    .kom_izbornik{text-align: left;}
}

@media only screen and (max-width: 850px) {
    
    .kom_izbornik{font-size:14px}
    select{font-size:14px!important}
}

@media only screen and (max-width: 450px) {
    
    .kom_izbornik{font-size:12px}
    select{font-size:12px!important}
}

#glass {
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
    display: none;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, .6);
    z-index: 1000000000000;
}