body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "Georgia", serif;
    overflow-x: hidden;
    /* Font to use */
}

#heading {
    height: 100px;
}

.naslov {
    text-align: center;
}


/* END DEMO CSS */

.opis {
    text-align: center;
    font-size: 1.5rem;
}

#dragScriptContainer {
    /* BIG DIV containing HTML needed for the entire script */
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 3px;
    -moz-user-select: no;
    display: grid;
    grid-template-columns: minmax(200px, 1fr) minmax(200px, 300px);
    height: 100%;
    padding-bottom: 200px;
}

#questionDiv {
    /* Big div for all the quFestions */
    height: 100%;
    width: 100%;
    padding: 2px;
    display: grid;
    grid-template-columns: auto auto;
}

#answerDiv {
    /* Big div for all the answers */
    height: 100%;
    padding: 2px;
    margin-top: 10px;
}

[class^="rad"] {
    text-align: center;
    font-size: 20px;
}

#answerDiv div,
#dragContent div {
    /* General rules for small divs-i.e. specific questions and answers */
    width: 250px;
    height: 40px;
    line-height: 42px;
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 70px;
    border: 1px solid #000;
    cursor: pointer;
    border-radius: 5px;
    background: #A39D82;
    color: white;
}

#dragContent div {
    /* Drag content div-i.e. specific answers when they are beeing dragged */
    border: 1px solid #000;
}

#answerDiv .dragDropSmallBox {
    /* Small answer divs */
    cursor: pointer;
}

#questionDiv div div {
    /* DIV after it has been dragged from right to left box */
    margin: 0px;
    border: 0px;
    padding: 0px;
}

#questionDiv .destinationBox {
    /* Small empty boxes for the questions-i.e. where answers could be dragged */
    background-color: #DDD;
    width: 250px;
    height: 42px;
    display: block;
    margin: 10px auto 10px auto;
    border: 1px solid;
    border-radius: 5px;
}

#questionDiv .correctAnswer {
    /* CSS indicating correct answer */
    background-color: #76B574;
    color: #fff;
    text-align: center;
    height: 42px;
    line-height: 42px;
}

#questionDiv .wrongAnswer {
    /* CSS indicating wrong answer */
    background-color: #FEA680;
    color: #fff;
    text-align: center;
    height: 42px;
    line-height: 42px;
}

#dragContent div {
    background-color: #A39D82;
    color: white;
}

#questionDiv .dragContentOver {
    /* Mouse over question boxes-i.e. indicating where dragged element will be appended if mouse button is relased */
    border: 1px solid #F00;
    background-color: #DDD;
    width: 250px;
    height: 42px;
    display: block;
    margin: 10px auto 10px auto!important;
}


/* NEVER CHANGE THIS */

#dragContent {
    position: absolute;
    display: none;
}

.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}


/*  COLUMN SETUP  */

.col {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}

.col: first-child {
    margin-left: 0;
}


/*  GROUPING  */

.group: before,
.group: after {
    content: "";
    display: table;
}

.group: after {
    clear: both;
}

.group {
    zoom: 1;
    /* For IE 6/7 */
}


/*  GRID OF TWO  */

.dragDropSmallBox img {
    max-height: 250px;
    max-width: 100%;
    display: block;
    margin: auto;
}

.swal2-close {
    display: none!important
}

#glass {
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
    display: none;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, .6);
}

.btn-holder {
    height: 4.2rem;
    grid-column-end: span 2;
    display: none;
}

.btn {
    margin: 1rem auto 0;
    display: block;
    width: 80%;
    font-size: 1.8rem;
    padding: 1rem 0;
    background: #A39D82;
    border: none;
    color: white;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

.btn:hover {
    cursor: pointer;
    background: #707070;
}

@media only screen and (max-width: 800px) {
    .destinationBox {
        width: 150px!important;
        font-size: 12px
    }
    #answerDiv div,
    #dragContent div {
        width: 150px;
        font-size: 12px
    }
    #dragScriptContainer {
        grid-template-columns: minmax(200px, 1fr) minmax(100px, 200px);
    }
    .btn {
        font-size: 1.5rem;
        margin: 1rem auto 0;
    }
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */