/* ----------------------------
STYLES/LAYOUT
---------------------------- */

html {
    font-size: 60%;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

body {
    font-size: 1rem;
    font-family: "Georgia", serif;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 480px;
}

#opis {
    text-align: center
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
i {
    margin: 0;
    s
}

form {
    margin-top: 20px;
}


/* Container divs*/

.init-page,
.questions-page,
.results-page {
    height: 100%;
}

.container {
    width: 90%;
    height: 100%;
    max-width: 40rem;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

.container2 {
    display: flex;
    flex-direction: column;
}


/* Button */

.btn {
    margin: 1rem auto 0;
    display: block;
    width: 100%;
    font-size: 1.5rem;
    padding: 1rem 0;
    background: #A39D82;
    border: none;
    color: white;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

.btn:hover {
    cursor: pointer;
    background: #707070;
}


/* TITLE PAGE */

.init-page__title {
    margin: 0;
    font-size: 5rem;
}

.init-page__icon {
    font-size: 20rem;
    margin: 0;
}


/* QUESTIONS PAGE*/

.questions-page__question {

    font-size: 1.8rem;

    margin-top: 0.67em;
    margin-bottom: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.questions-page__answer-list {
    padding: 0;
    list-style-type: none;
    font-size: 1.5rem;
    line-height: 3rem;
    text-align: center;
}

.questions-page__answer-line {
    margin: 0 auto;
    width: 100%;
    cursor: pointer;
}

.questions-page__selection-div {
    float: left;
    padding-left: 1rem;
    font-size: 1.75rem;
}

.questions-page__feedback-div {
    float: right;
    padding-right: 1rem;
    font-size: 2.5rem;
}

.odabir {
    background: rgb(163, 157, 130);
    color: white;
    border-radius: 5px;
}

.questions-page--correct {
    background: #76B574;
    border-radius: 5px;
}

.questions-page--incorrect {
    background: #FEA680;
     border-radius: 5px;
}

.btn-holder {
    height: 4.5rem;
}


/* RESULTS PAGE */

.results-page__info {
    font-size: 3rem;
}

.results-page__score {
    font-size: 10rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.results-page__spanish-btn {
    margin-top: 3rem;
}

.results-page__spanish-btn-link {
    text-decoration: none;
}

.slikica {
    max-width: 100%;
    max-height: 200px;
}


/* ----------------------------
MEDIA QUERIES
---------------------------- */

@media screen and (min-width: 480px) {
    html {
        font-size: 85%;
    }
    body {
        min-height: 700px;
    }
    .container {
        width: 100%;
    }
    .slikica {
        max-height: 300px;
    }
}

@media screen and (min-width: 1680px) {
    html {
        font-size: 100%;
    }
    body {
        min-height: 800px;
    }
    .slikica {
        max-height: 500px;
    }
}

#glass {
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
    display: none;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, .6);
}

footer {
    position: fixed;
    text-align: center;
    width: 100%;
    bottom: 0
}